language: c
sudo: required
dist: trusty

# LLVM takes awhile to check out and otherwise we'll manage the submodules in
# our configure script, so disable auto submodule management.
git:
  submodules: false

before_install:
  - sudo sh -c 'echo 0 > /proc/sys/net/ipv6/conf/lo/disable_ipv6'
  - echo 'deb http://llvm.org/apt/trusty/ llvm-toolchain-trusty-3.7 main' | sudo tee -a /etc/apt/sources.list
  - echo 'deb-src http://llvm.org/apt/trusty/ llvm-toolchain-trusty-3.7 main' | sudo tee -a /etc/apt/sources.list
  - sudo apt-get update
  - sudo apt-get -y install curl make g++ python2.7 git zlib1g-dev libedit-dev
  - sudo apt-get -y --force-yes install llvm-3.7-tools

script:
  - ./configure --llvm-root=/usr/lib/llvm-3.7
  - make tidy && make check-notidy -j4

# Real testing happens on http://buildbot.rust-lang.org/
#
# See https://github.com/rust-lang/rust-buildbot
#     CONTRIBUTING.md#pull-requests

notifications:
  email: false

branches:
  only:
    - master
